// -----------------------------------------------------------------------------
// This file contains all styles related to the modal component.
// -----------------------------------------------------------------------------

.c-modal {
  background-color: $black;

  &:hover {
    .c-modal__overlay {
      opacity: 1;
      pointer-events: all;
    }
  }

  &--fillViewport {
    position: absolute 0;
    z-index: 999;
  }

  &__overlay {
    position: absolute 0 0 initial 0;
    display: flex;
    align-items: center;
    padding: 0 60px;
    height: 200px;
    background: linear-gradient(to bottom, rgba($main-bg-color, 0.7), cubic-bezier(0.48, 0.30, 0.64, 1.00), transparent);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }

  &__overlayTitle {
    margin-bottom: 10px;
    font-size: 3em;
  }

  &__overlayArtists {
    a {
      @include comma-separated($size: 1.2em);
    }
  }

  &__iframe {
    size: 100vw 100vh;
  }
}
